@charset "utf-8";
/* <index.html> */

html {
    scroll-behavior: smooth;

}

/* body * {
    outline: auto;
} */

/* header */
header {
    height: 110px;
}

.header_bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px 25px 100px;

    background-color: #A39489;
    box-sizing: border-box;
}

.logo {
    height: 90px;
}

.insta-logo {
    width: 50px;
}

/* main */
.main-visual {
    display: flex;
    justify-content: center;
    margin: 140px 0 20px 0;

    max-width: 100%;
}

.mv_nav {
    text-align: center;
    max-width: 25%;
}

.nav_top {
    margin-bottom: 30px;
    margin: 0 auto;
}

/* concept */
.concept {
    margin-block: 200px;
}

.concept_title {
    font-size: 2rem;
    writing-mode: vertical-rl;
    padding-left: 150px;
    position: relative;
}

.concept_title::before {
    content: "";
    display: block;
    width: 2px;
    height: 65px;
    background-color: #5F4343;

    position: absolute;
    top: -85px;
    right: 35px
}

.concept_wrapper {
    display: flex;
    align-items: flex-start;
    width: calc(100% - 40vw);
}

.concept_text {
    margin-top: 0;
    margin-bottom: 70px;
}

.concept_img {
    text-align: right;
}

.concept_img img {
    display: inline;
}

/* about */
.about {
    display: flex;
    padding: 200px 0;
    padding-right: 0;
    justify-content: space-between;
    align-items: flex-end;
}

.about_bg {
    background-color: #F5F9FF;
}

.about_things {
    font-size: 1.125rem;
    text-align: left;
    line-height: 2;
    letter-spacing: 5%;
}

.about_things div {
    display: flex;
}

.about_things dt {
    text-align: left;
    border: 2px solid #5F4343;
    border-radius: 15px;
    padding: 5px 15px;
    background-color: #F3F1F2;
}

.about_things dd {
    margin-inline: 10px;
}

.about_left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.about_right {
    margin-right: calc(50% - 50vw);
    text-align: end;
    width: 100%;
}

.left_text {
    padding-top: 160px;
}

.left_text p {
    margin-bottom: 60px;
}


.about_btn {
    display: block;
    text-align: center;
    margin-top: 60px;
}

/* skills */
.skills {
    display: flex;
    margin-top: 165px;
    justify-content: space-between;
    align-items: flex-end;
}

.skills_left {
    width: 100%;
}

.skills_text {
    padding-top: 180px;
    margin-left: calc(50% - 25vw);
}

.skills_right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* works */
.works {
    display: flex;
    margin: 360px auto 250px;
    gap: 70px;
}

.works_left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.works_left p::before {
    top: 0;
    left: 185px;
}

.works_right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    gap: 25px;
}

/* contact */
.contact {
    background-color: #FEFEF5;
    padding: 100px 0 100px 0;
    text-align: center;
}

.title_center2 p::before {
    top: 0;
    left: 50%;
}

.container_door {
    position: relative;
    display: inline-block;

    padding: 140px 0 260px 0;
}

.container_door a {
    width: 245px;
    position: absolute;
    top: 125px;
    left: -55px;
}

.container_door img {
    display: block;
    width: 100%;
    height: auto;
}

.door_cl {
    transition: opacity 0.5s ease;
}

.door_op {
    opacity: 0;
    transition: opacity 0.5s ease;
}

.container_door .door_op {
    width: 100%;
}

.container_door:hover .door_cl {
    opacity: 0;
}

.container_door:hover .door_op {
    opacity: 1;
}

/* <about/index.html> */
.about_main {
    margin-top: 325px;
    display: flex;
    justify-content: space-between;
}

.title_about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.title_about p {
    writing-mode: vertical-rl;
    text-align: center;
}

.title_about p::before {
    content: "";
    display: block;
    width: 1px;
    height: 40px;
    background-color: #5F4343;

    position: absolute;
    top: 85px;
    left: 185px;
}

.about_right2 {
    margin-right: calc(50% - 50vw);
}

.about_pic img {
    width: 100%;
}

.about_left2 {
    width: 75%;
    padding: 35px;
}

.about_text {
    margin-top: 305px;
}

.about_left2 p {
    font-size: 1rem;
}

.about_text,
.about_text2,
.about_list {
    margin-top: 30px;
}



/* <works/index-1.html> */
/* top_visual */
.top_visual {
    position: relative;
    margin-top: 110px;
}

.top_visual img {
    width: 100%;
    height: auto;
    display: block;
}

.top_mv {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* works_pic */
.grid_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    text-align: center;
    margin: 100px;
}

.grid_container img {
    width: 100%;
    height: auto;
    display: block;
}


/* contact */
/* index.html*/
.contact_main {
    background-color: #FEFEF5;
}

.contact_container {
    width: 100%;
}

.contact .container_door {
    padding-top: 300px;
}

.contact_flex {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.contact .title_center2 {
    margin-top: 150px;
}

.container_door2 {
    width: 245px;
    position: absolute;
    top: 285px;
    left: -55px;
}

.container_door a {
    width: 245px;
    position: absolute;
    top: 285px;
    left: -55px;
}

.container_door p {
    font-family: 'Lucida Sans', sans-serif;
    padding-top: 10px;
}

.contact .container_door:hover .door_cl {
    opacity: 0;
}

.contact .container_door:hover .door_op {
    opacity: 1;
}

/* form.html */
.form-container {
    max-width: 70%;
    margin: 0 auto;
    padding-bottom: 100px;
}

.contact .form_img {
    width: 150px;
}

.form-container input,
textarea {
    display: block;
    width: 100%;
    padding: 15px 20px;
    font-size: 1.25rem;
    color: #A39489;
}

.form-container button {
    font-size: 1.25rem;
    color: #FEFEF5;
    background-color: #C66D6B;
    border-radius: 10px;
    padding: 10px 40px;
    display: block;
    margin: 0 auto;
}

.form-item {
    margin-bottom: 40px;
}

.form-item span {
    background-color: #A39489;
    font-size: 1rem;
    color: #FEFEF5;
    padding: 3px 10px;
    border-radius: 10px;
}

.form-item label {
    font-size: 1.25rem;
    color: #5F4343;
    line-height: 2.5;
}

/* done.html */





/* logo.html */
.item_container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 50px;

    margin-top: 90px;
}

.item_inner1 img {
    width: 100%;
    height: auto;
}

.object_btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    padding-block: 10px;
}

.item_inner1 {
    width: 40%;
}

.item_inner2 {
    width: 60%;
    align-items: flex-start;
}

.logo_title {
    font-size: 2.5rem;
}

.logo_sub-title .logo_text p {
    font-size: 0.75rem;
}

.logo_date {
    font-size: 1.125rem;
    text-align: end;
}

/* web/index.html */
.web_item {
    max-width: 330px;
    background-color: #F3F1F2;
}

/* web/web-item.html */

.index_title {
    position: absolute;
    top: 150px;
    left: 525px;
}

.web_flex {
    position: relative;
    display: flex;
    margin-top: 250px;
    height: 300px;
    background-color: #F3F1F2;
    justify-content: center;
}

.web_capture {
    background-color: #F3F1F2;
    padding: 65px 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}

.web_capture img {
    width: 40%;
}

.item_contents {
    width: 40%;
    align-items: flex-start;
}

.object_btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    padding-block: 10px;
}

.web_inner2 {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin: 80px 0;
}

.web_inner3 {
    width: 60%;
}

.web_text {
    font-size: 1em;
}

.web_list {
    margin-top: 20px;
}