@charset "utf-8";

/* スクロールダウン1 scroll */
.scrolldown1 p {
    font-size: 0.75rem;
}

/*スクロールダウン全体の場所*/
.main-visual {
    position: relative;
}

.scrolldown1 {
    /*描画位置※位置は適宜調整してください*/
    position: absolute;
    left: 50%;
    bottom: -200px;
    /*全体の高さ*/
    height: 50px;
    margin-bottom: 100px;
}

/*Scrollテキストの描写*/
.scrolldown1 span {
    /*描画位置*/
    position: absolute;
    left: -30px;
    top: -15px;
    /*テキストの形状*/
    color: #5F4343;
    font-size: 1rem;
    letter-spacing: 0.05em;
    text-align: center;
}

/* 線の描写 */
.scrolldown1::after {
    content: "";
    /*描画位置*/
    position: absolute;
    top: 0;
    /*線の形状*/
    width: 1px;
    height: 30px;
    background: #5F4343;
    /*線の動き1.4秒かけて動く。永遠にループ*/
    animation: pathmove1 1.4s ease-in-out infinite;
    opacity: 0;
}

/*高さ・位置・透過が変化して線が上から下に動く*/
@keyframes pathmove1 {
    0% {
        height: 0;
        top: 0;
        opacity: 0;
    }

    30% {
        height: 30px;
        opacity: 1;
    }

    100% {
        height: 0;
        top: 50px;
        opacity: 0;
    }
}

/* スクロールダウン2 page top*/
.scrolldown_page a {
    font-size: 0.75;
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

/*スクロールダウン全体の場所*/
.contact {
    position: relative;
}

.scrolldown_page {
    /*描画位置※位置は適宜調整してください*/
    position: absolute;
    left: 51%;
    bottom: 180%;
    /*全体の高さ*/
    height: 50px;
    margin-bottom: 50px;
    width: 130px;
    transform: translateX(-50%);

}

/*Scrollテキストの描写*/
.scrolldown_page span {
    /*描画位置*/
    position: absolute;
    left: 50%;
    /*テキストの形状*/
    color: #CB504E;
    font-size: 1rem;
    letter-spacing: 0.05em;
    font-family: 'Lucida Sans', sans-serif;
    transform: translateX(-50%);
    width: 100%;
    bottom: -50px;

    /* position: fixed; */
}

/* 線の描写 */
.scrolldown_page::before {
    content: "";
    /*描画位置*/
    position: absolute;
    top: -20px;
    left: 50px;
    /*線の形状*/
    width: 1px;
    height: 30px;
    background: #CB504E;
    /*線の動き1.4秒かけて動く。永遠にループ*/
    animation: pathmove2 1.4s ease-in-out infinite;
    opacity: 0;
}

/*高さ・位置・透過が変化して線が上から下に動く*/
@keyframes pathmove2 {
    0% {
        height: 0;
        top: 50px;
        opacity: 0;
    }

    30% {
        height: 30px;
        opacity: 1;
    }

    100% {
        height: 0;
        top: 0;
        opacity: 0;
    }
}



/* タイトル 左*/
.title_left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.title_left p {
    position: relative;
    writing-mode: vertical-rl;
    text-align: center;
}

.title_left p::before {
    content: "";
    width: 1px;
    height: 40px;
    background-color: #5F4343;

    position: absolute;
    top: 0;
    right: 20px;
    transform: translateX(-50%);
}

@media screen and (max-width:1000px) {
    h2 {
        margin-bottom: 0;
    }

    .title_left p {
        writing-mode: horizontal-tb;
        height: auto;
        font-size: 1rem;
    }

    .title_left p::before {
        content: "";
        width: 25px;
        height: 1px;
        background-color: #5F4343;
        position: absolute;
        top: 17px;
        left: 0;
        transform: translateX(0)
    }
}

/* タイトル 右*/
.title_right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.title_right p {
    position: relative;
    writing-mode: vertical-rl;
    text-align: center;
}

.title_right p::before {
    content: "";
    width: 1px;
    height: 40px;
    background-color: #5F4343;

    position: absolute;
    top: 0px;
    left: 20px;
    transform: translateX(-50%);
}

@media screen and (max-width:1000px) {
    h2 {
        margin-bottom: 0;
    }

    .title_right {
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 50px;
    }

    .title_right p {
        writing-mode: horizontal-tb;
        height: auto;
        font-size: 1rem;
    }

    .title_right p::before {
        content: "";
        width: 25px;
        height: 1px;
        background-color: #5F4343;
        position: absolute;
        top: 17px;
        left: 0;
        transform: translateX(0)
    }
}


/* タイトル 中央*/
.title_center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.title_center p {
    position: relative;
    writing-mode: vertical-rl;
    text-align: center;
}

.title_center p::before {
    content: "";
    width: 1px;
    height: 40px;
    background-color: #5F4343;

    position: absolute;
    top: 105px;
    left: 520px;
    transform: translateX(-50%);
}

/* タイトル中央カテゴリトップ*/
.title_center2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.title_center2 p {
    position: relative;
    writing-mode: vertical-rl;
    text-align: center;
}

.title_center2 p::before {
    content: "";
    background-color: #5F4343;
    width: 1px;
    height: 40px;

    position: absolute;
    top: 7%;
    left: 75%;
    transform: translateX(-50%);
}

@media screen and (max-width:1000px) {
    h2 {
        margin-bottom: 0;
    }

    .title_center2 {
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 50px;
    }

    .title_center2 p {
        writing-mode: horizontal-tb;
        height: auto;
        font-size: 1rem;
    }

    .title_center2 p::before {
        width: 25px;
        height: 1px;
        transform: translateX(0)
    }
}

/* ボタン */
.btn_base {
    font-family: "Zen Kaku Gothic New";
    font-size: 1rem;
    padding: 10px 30px 10px 30px;
    color: #ffffff;
    background-color: #C66D6B;
    border-radius: 10px;
    transition: 0.3s;
}

.btn_base:hover {
    filter: brightness(1.15);
}

.btn_line {
    text-align: center;
}

/* サイドメニューナビ */
.side_nav {
    max-width: 100px;
    height: auto;
    position: absolute;
    top: 200px;
    left: 50px;
}

.nav_fixed {
    position: fixed;
    z-index: 100;
}

.side_nav li {
    margin-bottom: 70px;
}

.side_nav a {
    font-family: 'Lucida Sans', sans-serif;
    font-weight: bolder;
    font-size: 1rem;
    writing-mode: vertical-rl;
}

/* サイドメニューナビ２ */
.side_nav2 {
    max-width: 100px;
    height: auto;

    position: absolute;
    right: 50px;
    bottom: 50px;

    position: fixed;
    z-index: 300;
}

.side_nav2 ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}





/* ページネーション */
.pagination {
    margin-block: 200px;
    text-align: center;
}

.pagination ul {
    display: flex;
    justify-content: center;
    gap: 35px;
    list-style: none;
    padding: 0;
}

.pagination a {
    display: block;
    padding: 2px 10px;
    border: 1px solid #ccc;
    text-decoration: none;
    color: #A39489;
    background: transparent;
    font-size: 1.125rem;
    font-family: 'Lucida Sans', sans-serif;
}

.pagination a[aria-current="page"] {
    background: #A39489;
    color: #fff;
}

/* footer */
footer {
    background-color: #A39489;
    position: relative;
    z-index: 200;
}

footer p {
    font-family: 'Lucida Sans', sans-serif;
    font-size: 0.875rem;
    color: #ffffff;
    text-align: center;
    padding: 30px 0;
}


/* アニメーション */

/* 項目のindexファイルのtop-view */
.blur {
    animation-name: blurAnime;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes blurAnime {
    from {
        filter: blur(10px);
        transform: scale(1.1);
    }

    to {
        filter: blur(0);
        transform: scale(1);
    }
}

/* 画像が下からふわっと */
.fadeUp {
    opacity: 0;
}

/* .active */
.fadeUp.active {
    animation: fadeUpAnime 0.8s ease-out forwards;
}

@keyframes fadeUpAnime {
    from {
        opacity: 0;
        transform: translateY(80px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}



/*==================================================
ハンバーガーメニュー
===================================*/
/*ボタン外側※レイアウトによってpositionや形状は適宜変更してください*/
.openbtn {
    /*ボタン内側の基点となるためrelativeを指定。
追従するナビゲーションの場合はfixed＋top、rightといった位置をセットで指定*/
    position: relative;
    background: #57a2c7;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

/*ボタン内側*/
.openbtn span {
    display: inline-block;
    transition: all .4s;
    /*アニメーションの設定*/
    position: absolute;
    left: 14px;
    height: 3px;
    border-radius: 2px;
    background: #fff;
    width: 45%;
}

.openbtn span:nth-of-type(1) {
    top: 15px;
}

.openbtn span:nth-of-type(2) {
    top: 23px;
}

.openbtn span:nth-of-type(3) {
    top: 31px;
}

/*activeクラスが付与されると線が回転して×に*/

.openbtn.active span:nth-of-type(1) {
    top: 18px;
    left: 18px;
    transform: translateY(6px) rotate(-45deg);
    width: 30%;
}

.openbtn.active span:nth-of-type(2) {
    opacity: 0;
    /*真ん中の線は透過*/
}

.openbtn.active span:nth-of-type(3) {
    top: 30px;
    left: 18px;
    transform: translateY(-6px) rotate(45deg);
    width: 30%;
}