/* ===== Reset ===== */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  object-fit: cover;
  border: none;
}

/* ===== Base ===== */

body {
  font-family: "Zen Kaku Gothic New", "Lexend Zetta", sans-serif;
  color: #5F4343;
  background-color: #fff;
  line-height: 1.6;
}

h2 {
  margin-bottom: 45px;
}

h3 {
  font-size: 1.5rem;
  font-weight: normal;
}

h4 {
  display: inline-block;
  font-size: 1rem;
  font-weight: 500;
  border: 1.5px solid #5F4343;
  border-radius: 5%;
  padding: 5px 20px;
  background-color: #F3F1F2;
}

p {
  font-size: 1.3125rem;
  line-height: 2;
  letter-spacing: 0.07em;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

dl,
dd,
dt {
  /* display: inline; */
  font-size: 1.0625rem;
  text-align: left;
  line-height: 1.5;
  letter-spacing: 0.05em;
}

dl {
  text-align: center;
  align-items: center;
  gap: 10px;
}

dt {
  width: 25%;
  border: 1.5px solid #5F4343;
  border-radius: 5%;
  padding: 5px 20px;
  background-color: #F3F1F2;
  text-align: center;
}

.base_container {
  max-width: 72%;
  margin: 0 auto;
}

@media screen and (max-width:1000px) {
  .base_container {
    max-width: 89%;
    margin: 0 auto;
  }
}