@charset "utf-8";

/* body * {
    outline: auto;
} */

html {
    scroll-behavior: smooth;
}

/* header */
header {
    height: 135px;
    background-color: #A39489;
    margin-bottom: 30px;
}

.header_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px 25px 100px;
}

.logo {
    height: 90px;
}

.insta-logo {
    width: 50px;
}

/* main */
.main-visual {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.mv_nav {
    text-align: center;
}

.nav_top {
    margin-bottom: 30px;
}

/* concept */
.concept {
    margin-block: 200px;
}

.concept_title {
    font-size: 38px;
    writing-mode: vertical-rl;
}

.concept_wrapper {
    display: flex;
}

.concept_text {
    margin-top: 115px;
    margin-bottom: 70px;
}

.concept_img {
    text-align: right;
}


/* about */
.about {
    display: flex;
    padding: 200px;
    padding-right: 0;
    background-color: #F5F9FF;

    gap: 90px;
}

.about_things {
    margin-block: 60px;
}

.about_left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* skills */
.skills {
    display: flex;
    margin-top: 165px;
}

.skills_right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* works */
.works {
    display: flex;
    margin-top: 360px;
    gap: 70px;
}

.works_left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.works_right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    gap: 25px;
}

/* contact */
.contact {
    background-color: #FEFEF5;
    padding-top: 150px;
    text-align: center;
}

.container_door {
    padding: 140px 0 260px 0;
}




/* footer */
footer {
    background-color: #A39489;
    padding: 40px 540px;
}

footer p {
    font-size: 14px;
    color: #ffffff;
    text-align: center;
}